<main>
    <div id="topWrapper">
        <a href="/notes" class="buttonLink" id="newNoteButton">Create new Note</a>
        <a href="?style={{style}}" class="buttonLink" id="styleSwitchButton">Switch Style</a>
        <div id="sortWrapper">
            <a href="?sort=dueDate" class="buttonLink" id="sortByDueDate">By due Date</a>
            <a href="?sort=createdDate" class="buttonLink" id="sortByCreateDate">By created Date</a>
            <a href="?sort=importance" class="buttonLink checked" id="sortByImportanceButton">By importance</a>
        </div>
        <a href="?filter={{filterState}}" class="buttonLink" id="toggleFinishedButton">{{#if filteState}}
            Show {{else}} Hide{{/if}} Finished</a>
    </div>
    {{#if notes}}
        {{#each notes}}
            <div class="note-view">
                <p class="noteTitle">{{this.title}}</p>
                <p class="noteImportance importanceLevel{{importance}}"></p>
                <label class="noteDone">
                    <input type="checkbox" value="done" name="done" {{#if this.done}} checked {{/if}} disabled>
                    Done
                </label>

                <textarea class="noteDescription" readonly>{{this.description}}</textarea>
                <a href="/notes/{{_id}}" class="buttonLink noteEdit">Edit</a>
            </div>
        {{/each}}
    {{else}}
        <div class="message">
            Keine Todo gefunden
        </div>
    {{/if}}
</main>