<main>
    <header>
        <h1>{{pagetitle}}</h1>
    </header>
    <form method="post" action="/notes/{{note._id}}">
        <label for="noteTitle">Titel</label>
        <input id="noteTitle" name="title" type="text" value="{{note.title}}" required/>
        <label for="noteDescription">Beschreibung</label>
        <textarea id="noteDescription" name="description" rows="4" required>{{note.description}}</textarea>
        <label for="noteImportance">Wichtigkeit</label>
        <input id="noteImportance" name="importance" type="number" min="1" max="5" value="{{note.importance}}" required/>
        <label for="noteDueDate">Fertig bis</label>
        <input id="noteDueDate" name="dueDate" type="datetime-local" value="{{formatDate note.dueDate "YYYY-MM-DDThh:mm"}}"/>
        <label class="checkboxLabel">
            <input name="done" type="checkbox" value="done" {{#if note.done}} checked {{/if}}/>
            Erledigt!
        </label>
        <div class="buttons">
            <input type="submit" value="Anlegen"/>
            <a class="buttonLink" href="/">Abbruch</a>
        </div>
    </form>
</main>